exclude: '.git|.tox'
files: 'serde/|tests/|examples/|bench/bench.py'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: black
        name: black
        entry: uv run --frozen black
        language: system
        types: [python]
        args: [.]
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
      - id: ruff
        name: ruff
        entry: uv run --frozen ruff check --fix --force-exclude
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: uv run --frozen mypy
        language: system
        types: [python]
        pass_filenames: false
        args: [serde]
