[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
dataclasses = { version = "*", markers="python_version < '3.7'" }
msgpack = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-flake8 = "*"
flake8-per-file-ignores = "*"
mypy = "*"
dataclasses-json = "*"
dataclasses-jsonschema = "*"
dacite = "*"
pavlova = "*"
mashumaro = "*"
ix = { git = "https://github.com/JoshKarpel/ix.git" }
