[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
dataclasses = { version = "*", markers="python_version < '3.7'" }
msgpack = "*"

[dev-packages]
pycodestyle = "*"
pytest = "*"
pytest-pycodestyle = "*"
mypy = "*"
