[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dataclasses = {version = "*",markers = "python_version < '3.7'"}
typing_inspect = ">=0.4.0"
msgpack = "*"
toml = "*"
pyyaml = "*"
stringcase = "*"
jinja2 = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-watch = "*"
coverage = "==4.5.4"
pdoc3 = "~=0.9"
mypy = {version = "==0.782",markers = "platform_python_implementation!='PyPy'"}
twine = "*"
more-itertools = "~=8.6.0"
pre-commit = "==v2.10.1"

[pipenv]
allow_prereleases = true
