[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
click = "*"
pyserde = {path = "../", editable = true}
dacite = "*"
dataclasses-json = "*"
mashumaro = "*"


[pipenv]
allow_prereleases = true
