[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
click = "*"
pyserde = {path = "../", editable = true}

[dev-packages]
dacite = "*"
mashumaro = "*"
marshmallow = "~=3.2"
attrs = "*"
cattrs = "*"
seaborn = "==0.9.0"
matplotlib = "==3.1.1"
numpy = "==1.17.2"

[pipenv]
allow_prereleases = true
