[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
pyserde = {path = "../", editable = true}
dacite = "*"
dataclasses-json = "*"
dataclasses-jsonschema = "*"
pavlova = "*"
mashumaro = "*"
ix = {git = "https://github.com/JoshKarpel/ix.git"}

[pipenv]
allow_prereleases = true
