[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserde = { path = "../", editable = true }
toml = "*"
pytoml = "*"
requests = "*"
envclasses = "==0.2.1"
