name: Build package

on:
  release:
    types: [prereleased]

jobs:
  prerelease:
    name: Pre Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: uv sync --frozen
      - name: Build package to make sure dynamic versioning works
        run: |
          uv build
